<!doctype html>
<html lang="en">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../../../bootstrap-5.2.1-dist/css/bootstrap.min.css">

<!-- CSS -->
<link rel="stylesheet" href="../../../resources/css/navbar/Navbar.css">
<link rel="stylesheet" href="../../../resources/css/sepet/sepet.css">
<title>Sepet</title>

</head>

<body style="height: 1500px;">

	<!-- GENEL NAVBAR BASLANGIXI BASLANGICI -->
	<div class="genelNavbar">
	
		<!-- HEADNAVBAR BASLANGICI -->
		<div class="headNavbar">
			<ul class="nav justify-content-center">
				<li>HAMZA</li>
				<li>HAMZA</li>
				<li>HAMZA</li>
				<li>HAMZA</li>
				<li>HAMZA</li>
			</ul>
		</div>
		<!-- HEADNAVBAR SONU -->
		
		<!-- ALTNAVBAR ___ SECONDNAVBAR BASLANGICI-->
		<div class="secondNavbar">
			<!-- ALTNAVBAR ___ SECONDNAVBAR--- SOL BASLANGIC -->
			 <div class="solSecondNavbar"> <a class="solLogoLink" href="/index" >
                    <div class="logo h4 fst-italic text-center"> HB SHOPPİNG
                    </div>
                </a>
            </div>
			<!-- ALTNAVBAR ___ SECONDNAVBAR--- SOL SON -->
			
			<!-- ALTNAVBAR ___ SECONDNAVBAR--- ORTA KISMI BASLANGICI-->
			<div class="ortaSecondNavbar">
			
				<!-- ALTNAVBAR ___ SECONDNAVBAR--- ORTA ÜST ARAMA KISMI BAŞLANGICI-->
				<div class="navbarSearch position-relative">
					<div
						class="position-absolute  top-50 start-50 text-white text-center translate-middle">
						<nav class="navbar ">
							<div class="container-fluid">
								<form class="d-flex" role="search">
									<input class="form-control me-2" type="search"
										placeholder="Search" aria-label="Search" style="width: 400px;">
									<button class="btn btn-outline-success" type="submit">Search</button>
								</form>
							</div>
						</nav>
					</div>
				</div>
				<!-- ALTNAVBAR ___ SECONDNAVBAR--- ORTA ÜST ARAMA KISMI SONU-->
				
				<!-- ALTNAVBAR ___ SECONDNAVBAR--- ORTA ALT URUN LİNKLER KISMI BASLANGICI -->
				<div class="navbarUrunler d-flex ">
					<div class="col-lg-6  d-flex"
						style="justify-content: center; align-items: center;">
						<div class="element">
							<a href="#index_telefon">TELEFON</a>
						</div>
						<div class="element">
							<a href="#index_laptop">LAPTOP</a>
						</div>
						<div class="element">
							<a href="#index_televizyon">TELEVİZYON</a>
						</div>
					</div>
				</div>
				<!-- ALTNAVBAR ___ SECONDNAVBAR--- ORTA ALT URUN LİNKLER KISMI SONU -->

			</div>
			<!-- ALTNAVBAR ___ SECONDNAVBAR--- ORTA KISMI SONU-->
			
			<!-- ALTNAVBAR ___ SECONDNAVBAR--- SAG KISMI BASLANGICI-->
			<div class="sagSecondNavbar d-flex">
				<div class="sagLink d-flex position-relative">
					<div class="dropdown ">
						<a class="btn btn-secondary dropdown-toggle " href="#"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Giriş Yap </a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/giris">Kullanıcı
									Girisi</a></li>
							<li><a class="dropdown-item" href="/admin">Admin Girisi</a></li>
						</ul>
					</div>
					<div>
						<a class="btn btn-secondary" href="/kayit">Kayıt Ol</a>
					</div>
					<div>
						<a class="btn btn-secondary sepet" href="/sepet">Sepetim<span
							class="sepet_count">0</span></a>
					</div>
				</div>
			</div>
		</div>
		<!-- ALTNAVBAR ___ SECONDNAVBAR--- SAG KISMI SONU-->

	</div>
	<!-- Genel Navbar SONU-->

	<!-- Alışveriş Ödeme Alanı Baslangıcı-->
	
	<section class="cart-page">
		<div class="container">
			<div class="cart-page-wrapper">
			
			<!--! Ürün kartları Baslangıcı  -->
				<form class="cart-form">
					<div class="free-progress-bar">
						<p class="progress-bar-title">
							Add <strong>$161.00</strong> to cart and get free shipping!
						</p>
						<div class="progress-bar">
							<span class="progress"></span>
						</div>
					</div>
					<div class="shop-table-wrapper">
						<table class="shop-table">
							<thead>
								<th class="product-thumbnail">&nbsp;</th>
								<th class="product-thumbnail">&nbsp;</th>
								<th class="product-name">Product</th>
								<th class="product-price">Price</th>
								<th class="product-quantity">Quantity</th>
								<th class="product-subtotal">Subtotal</th>
							</thead>
							<tbody class="cart-wrapper">
							</tbody>
						</table>
						<div class="actions-wrapper">
							<div class="coupon">
								<input type="text" class="input-text" placeholder="Coupon code">
								<button class="btn">Apply Coupon</button>
							</div>
							<div class="update-cart">
								<button class="btn">Update Cart</button>
							</div>
						</div>
					</div>
				</form>
				<!-- Ürün kartları Sonu  -->
				
				<!-- Toplam Ürün Fiyatları Baslangıcı  -->
				<div class="cart-collaterals">
					<div class="cart-totals">
						<h2>Cart totals</h2>
						<table>
							<tbody>
								<tr class="cart-subtotal">
									<th>Subtotal</th>
									<td><span id="subtotal">$316.00</span></td>
								</tr>
								<tr>
									<th>Shipping</th>
									<td>
										<ul>
											<li><label> Fast Cargo: $15.00 <input
													type="checkbox" id="fast-cargo">
											</label></li>
											<li><a href="#">Change Address</a></li>
										</ul>
									</td>
								</tr>
								<tr>
									<th>Total</th>
									<td><strong id="cart-total">$316.00</strong></td>
								</tr>
							</tbody>
						</table>
						<div class="checkout">
							<button class="btn btn-lg">Proceed to checkout</button>
						</div>
					</div>
				</div>
				<!-- Toplam Ürün Fiyatları Sonu  -->
			</div>
		</div>
	</section>
	<!-- Alışveriş Ödeme Alanı Sonu-->
	<!-- Footer Alanı -->
	<!-- <div class="footer animate_animated animate__fadeOutRight">
        <ul>
            <li><i class="fas fa-home"><a href="#">Anasayfa</a></i></li>
            <li><i class="fas fa-phone">0531-***-****</i></li>
            <li><i class="fas fa-mail-bulk"><a href="#">hamza4252015@gmail.com</a></i></li>
            <li><i class="fas fa-id-card"><a href="#">hepsiorada.com</a></i></li>
        </ul>
    </div> -->
    
    
	<script>
	// Sepet ürün sayısı başlangıcı
	const cartItems = document.querySelector(".sepet_count");

    cart = localStorage.getItem("cart") ? JSON.parse(localStorage.getItem("cart")) : [];
    cartItems.innerHTML = localStorage.getItem("cart") ?
        JSON.parse(localStorage.getItem("cart")).length : "0";
     // Sepet ürün sayısı sonu



        function cartUrunGoster() {
            const cartWrapper = document.querySelector(".cart-wrapper");
            let result = "";
            cart.forEach((item) => {
                result += `
            <tr class="cart-item">
                <td></td>
                    <td class="cart-image">
                <img src=data:image/jpeg;base64,${item.urunresim} alt="">
                <i class="bi bi-x delete-cart" data-id=${item.urunId}>x</i>
             </td>
         <td>${item.urunadi}</td>
            <td>$${item.urunfiyat.toFixed(2)}</td>
            <td class="product-quantity">${item.quantity}</td>
            <td class="product-subtotal">$${(
            item.urunfiyat * item.quantity
            ).toFixed(2)}</td>
   </tr>
   `;
            });
            cartWrapper.innerHTML = result;
            sepettenSil()
        }
        cartUrunGoster();


        function sepettenSil() {
            const btnDeleteCart = document.querySelectorAll(".delete-cart");
            let cartItems = document.querySelector(".sepet_count");

            btnDeleteCart.forEach((button) => {
                button.addEventListener("click", function (e) {
                    const id = e.target.dataset.id;
                    cart = cart.filter((item) => item.urunId !== Number(id));
                    cartUrunGoster();
                    localStorage.setItem("cart", JSON.stringify(cart));
                    cartItems.innerHTML = cart.length;
                    saveCartValues();
                });
            });
        }


        function saveCartValues() {
            const cartTotal = document.getElementById("cart-total");
            const subtotal = document.getElementById("subtotal");
            const fastCargo = document.getElementById("fast-cargo");
            const fastCargoPrice = 15;
            let itemsTotal = 0;

            cart.length > 0 &&
                cart.map((item) => (itemsTotal += item.urunfiyat * item.quantity));
            console.log(itemsTotal);
            subtotal.innerHTML = `$${itemsTotal.toFixed(2)}`;
            cartTotal.innerHTML = `$${itemsTotal.toFixed(2)}`;

            fastCargo.addEventListener("change", function (e) {
                if (e.target.checked) {
                    cartTotal.innerHTML = `$${(itemsTotal + fastCargoPrice).toFixed(2)}`;
                } else {
                    cartTotal.innerHTML = `$${itemsTotal.toFixed(2)}`;
                }
            });
        }

        saveCartValues();
    </script>






	<script src="../../../bootstrap-5.2.1-dist/js/bootstrap.min.js"></script>
	
	

	<script src="../../../bootstrap-5.2.1-dist/js/bootstrap.bundle.js"></script>
</body>

</html>